.root {
  flex-grow: 1;
  height: 430;
  z-index: 1;
  overflow: 'hidden';
  position: 'relative';
  display: 'flex';
}

.toolbar {
  display: 'flex';
  align-items: 'center';
  justify-content: 'flex-end';
  padding: '0 8px';
  // ...theme.mixins.toolbar;
}


.content {
  flex-grow: 1;
  // background-color: theme.palette.background.default,
  // padding: theme.spacing.unit * 3,
}