@mixin food($color) {
  border-left-style: solid;
  border-left-color: $color;
  border-left-width: 15px;
}

.food-acelerator {
  @include food(rgb(56, 224, 22));
}

.food-moderator {
  @include food(rgb(232, 255, 25));
}

.food-fatest {
  @include food(rgb(231, 8, 8));
}



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #0091EA;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}